.footer {
  padding: 70px 60px;
}
.container {
  margin: auto;
  position: relative;
  flex-direction: column;
  max-width: 1000px;
  display: flex;
}
.left {
  min-width: 90%;
}
.mini {
  padding: 20px 60px !important;
}
.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.link {
  color: #757575;
  margin-bottom: 20px;
  font-size: 13px;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline #757575;
}

.title {
  margin-bottom: 40px;
  font-size: 16px;
  color: #757575;
}

.text {
  margin-top: 20px;
  font-size: 14px;
  color: #757575;
}

.break {
  flex-basis: 100%;
  height: 0;
}

@media (max-width: 1000px) {
  .footer {
    padding: 70px 30px;
  }
  .row {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
