html,
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: black;
  color: #333;
}
.light {
  background-color: #fff !important;
}
.lightDark {
  background-color: #141414;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  /* -webkit-text-fill-color: white; */
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent;
}

.move-appear,
.move-enter {
  opacity: 0;
  transform: translateX(-350px);
}

.move-appear-active,
.move-enter-active {
  transition: 0.3s linear;
  opacity: 1;
  transform: translateX(0);
  /* filter: none; */
}

.move-exit {
  transform: translateX(0px);
  transition: 0.3s linear;
  opacity: 1;
  /* filter: none; */
}

.move-exit-active {
  /* transform: scale() ; */
  opacity: 0;
  /* filter: blur(8px); */
}
/* Slide Animation */
.slide-enter {
  transform: translate3d(0, 0, 0);
}
.slide-exit {
  transform: translate3d(-120%, 0, 0);
  opacity: 1;
}
.slide-enter-active {
  transform: translate3d(-120%, 0, 0);
  opacity: 1;
}
.slide-exit-active {
  transform: translate3d(0, 0, 0);
  opacity: 0;
}
.slide-enter-active,
.slide-exit-active {
  transition: 300ms;
}
.main_browse {
  overflow: hidden;
  z-index: 0;
  width: 100%;
}
.on_open_animation {
  animation: on-open 450ms forwards;
}
.on_open_browse {
  animation: on-open 650ms forwards;
}
@keyframes on-open {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
