.imageStepOne,
.imageStepTwo,
.imageStepThree {
  display: inline-block;
}

.imageStepOne span {
  background-image: url('../../../../public/images/signup/Devices.png');
  margin: 100px 0 20px;
  width: 260px;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 90px;
  background-size: 260px;
}
.imageStepTwo span {
  background-image: url('../../../../public/images/signup/Checkmark.png');
  margin: 100px 0 20px;
  width: 50px;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 50px;
  background-size: 50px;
}
.imageStepThree span {
  background-image: url('../../../../public/images/signup/Lock.png');
  margin: 20px 0 40px;
  width: 50px;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 50px;
  background-size: 50px;
}

.listCheckmark,
.listPlan {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
  list-style: none;
  padding: 0;
}

.listCheckmark {
  margin-top: 10px;
}
.listCheckmark li,
.listPlan li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.listPlan li {
  font-size: 18px;
}
.listCheckmark li span,
.listPlan li span {
  margin-left: 10px;
}
.listMargin {
  margin-top: 20px;
}
.listPlan {
  display: block;
  width: 100%;
  margin-top: 4px;
}
.listSmallMargin {
  margin-top: 6px;
}
.payments {
  align-items: center;
}
.secure {
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
}
.secure svg {
  width: 16px;
  height: 16px;
}
.error {
  color: red;
  font-size: 20px;
}
.loading {
  opacity: 50%;
}
