.play {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-sizing: content-box;
}
.play button {
  padding-left: 1.7rem;
  padding-right: 2rem;
  margin-left: 0;
  background-color: white;
  color: black;
  align-items: center;
  appearance: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 1;
  position: relative;
  user-select: none;
  will-change: background-color, color;
  word-break: break-word;
  /* margin-right: 15px; */
}
.play span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.4rem;
  margin-left: 10px;
}
.play:hover button {
  background-color: #e6e6e6 !important;
}
