.slideshow {
  margin: 3vh 0;
  padding: 0;
  position: relative;
  z-index: 100;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* Start Header Slide */
.slideshow h2 {
  line-height: 1.3;
  margin: 0;
}
.link_slide {
  font-size: 1.4vw;
  color: #e5e5e5;
  font-weight: 700;
  margin: 0 4% 0.5em 4%;
  text-decoration: none;
  display: inline-block;
  min-width: 6em;
}
.header_link {
  display: table-cell;
  vertical-align: bottom;
  line-height: 1.25vw;
  font-size: 1.4vw;
}
.explore_all {
  display: table-cell;
  vertical-align: bottom;
}
.explore_text {
  max-width: 0;
  display: inline-block;
  transition: max-width 1s, opacity 1s, transform 750ms;
  white-space: nowrap;
  vertical-align: bottom;
  cursor: pointer;
  opacity: 0;
  color: #54b9c5;
  font-size: 0.9vw;
  margin-right: 4px;
  line-height: 0.8vw;
}
.explore_icon {
  cursor: pointer;
  display: none;
  line-height: 0.1vw;
  margin-bottom: -0.2vw;
  /* display: inline-block; */
  vertical-align: bottom;
  transition: transform 750ms;
}
.explore_icon svg {
  width: 0.7vw;
  fill: #54b9c5;
}
.link_slide:hover .explore_text {
  max-width: 200px;
  transform: translate(1vw, 0);
  opacity: 1;
}

.slideshow:hover .explore_icon {
  display: inline-block;
}
.link_slide:hover .explore_icon {
  transform: translate(1vw, 0);
}
.link_slide:hover .explore_icon svg {
  width: 0.5vw;
}

/* End Header Slide */
/* Start Slide Content*/
.slideshow_continer {
  position: relative;
  z-index: 0;
}
.slide {
  padding: 0 4%;
  touch-action: pan-y;
  z-index: 2;
  position: relative;
  margin: 0;
}
/* pagination Indicator */
.pagination_indicator {
  margin: -24px 0 12px 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  right: 4%;
  display: none;
}
.pagination_indicator li {
  display: inline-block;
  width: 12px;
  height: 2px;
  margin-left: 1px;
  background-color: #4d4d4d;
}
.pagination_indicator li.active {
  background-color: #aaa;
}
.slideshow:hover .pagination_indicator {
  display: block;
}
/* Buttons */
.handle_slide {
  background-color: rgba(20, 20, 20, 0.5);
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 15;
  text-align: center;
  justify-content: center;
  display: none;
  padding-left: 1vw;
  padding-right: 1vw;
}

.handle_slide svg {
  fill: #fff;
  width: 2vw;

  transform-origin: 45% 50%;
}
.handle_right {
  right: 0;
}
.handle_left {
  transform: rotate(180deg);
  left: 0;
}
.slideshow:hover .handle_slide {
  display: flex;
}
/* box Image */
.slide_continer {
  overflow-x: visible;
  padding-bottom: 1px;
}
.slide_continer_boxs {
  white-space: nowrap;
}
.slide_box {
  z-index: 1;
  display: inline-block;
  position: relative;
  white-space: normal;
  vertical-align: top;
  padding: 0 0.2vw;
}
.slide_box:first-child {
  padding-left: 0;
}
.title_card {
  position: relative;
  display: block;
  z-index: 1;
}
.slide_box_preview {
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  padding: 28.125% 0;
}
.slide_box_preview img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}
/* End Slide Content*/
@media (min-width: 1400px) {
  .slide_box {
    width: 16.66666667%;
  }
}
@media (max-width: 1399px) and (min-width: 1100px) {
  .slide_box {
    width: 20%;
  }
}
@media (max-width: 1099px) and (min-width: 800px) {
  .slide_box {
    width: 25%;
  }
}
@media (max-width: 799px) and (min-width: 500px) {
  .slide_box {
    width: 33.333333%;
  }
}

@media (max-width: 499px) {
  .slide_box {
    width: 50%;
  }
}
.trans {
  transition: 750ms;
}
.under_image {
  border-radius: 4px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000);
  background-color: #222;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
}
