.button {
  position: relative;
  margin: 0.25rem;
  cursor: pointer;
}
.button button {
  min-width: 32px;
  min-height: 32px;
  max-width: 42px;
  max-height: 42px;
  background-color: transparent;

  color: white;
  align-items: center;
  appearance: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 1;
  position: relative;
  user-select: none;
  will-change: background-color, color;
  word-break: break-word;
  white-space: nowrap;
  padding: 0.8rem;
  border-radius: 50%;
}
.borderButton {
  border-style: solid;
  border-width: 2px;
  background-color: rgba(42, 42, 42, 0.6);
  border-color: rgba(255, 255, 255, 0.5);
}
.svg {
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.button button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.play {
  background-color: white !important;
}
.play svg {
  fill: #000;
  color: #000;
}
.react {
  z-index: 10;
  margin-left: 0.1rem;
  margin-top: -0.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale3d(0.8, 1, 1);
  transition: opacity 0.1s linear 0s, transform 0.3s cubic-bezier(0.5, 0, 0.1, 1) 0s, all 0.2s linear 0s;
  visibility: hidden;
}

.react_buttons {
  width: 9rem;
  background-color: rgb(35, 35, 35);
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px 0px, rgba(0, 0, 0, 0.5) 0px 8px 16px 0px;
  display: flex;
  padding: 0.3rem;
  justify-content: space-between;
  align-items: center;
}
.svg_react {
  margin: 0px 0.2rem;
}
.svg_react button {
  border: none;
  padding: 0;
}
.svg_react button svg {
  width: 95%;
  height: 95%;
}
.svg_react button svg.scalle {
  pointer-events: none;
  z-index: 0;
  transform: scale(2) !important;
}
.button:hover .react {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  display: block;
  visibility: visible;
}
