.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  width: 100%;
}
.row {
  flex-direction: row;
}
.row-reverse {
  flex-direction: row-reverse;
}
.jumbotronItem {
  display: flex;
  border-bottom: 8px solid #222;
  padding: 50px 5%;
  color: white;
  overflow: hidden;
}
.jumbotronContainer {
}

.jumbotronPane {
  width: 50%;
}
.jumbotronPane img {
  max-width: 100%;
  height: auto;
}
.jumbotronTitle {
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 8px;
}
.jumbotronSubTitle {
  font-size: 26px;
  font-weight: normal;
  line-height: normal;
}
@media (max-width: 1000px) {
  .inner {
    flex-direction: column !important;
  }
  .jumbotronPane {
    width: 100%;
    padding: 0 50px;
    text-align: center;
  }
  .jumbotronContainer .jumbotronItem:last-of-type h2 {
    margin-bottom: 50px;
  }
}
@media (max-width: 600px) {
  .jumbotronSubTitle {
    font-size: 18px;
  }
  .jumbotronTitle {
    font-size: 35px;
  }
}
